*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.student,.teacher{
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    height: 100px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.student p,.teacher p{
    font-size: large;
    margin-left: 10px;
}

.teacher i{
    background-color: red;
}