*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid black;
}
nav i{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid #ccc;
}
nav p{
    font-size: large;
    margin-left: 50px;
    margin-top: 13px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: 450px;
    width: 340px;
    border: 1px solid black;
    padding: 20px;   
}
.wrapper h3{
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.wrapper textarea{
    margin-top: 10px;
    width: 100%;
    padding: 20px;
    font-size: large;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper button{
    width: 100%;
    height: 40px;
    background-color: #3cc23c;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 5px;
}
.wrapper button:hover{
    box-shadow: 7px 6px 9px 0px rgba(0,0,0,0.75);
}
