*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: aliceblue;
    min-height: 100vh;
}
nav{
    background-color:#fff;
    width: 100%;
    height: 70px;
    border-bottom: 1.5px solid black;
}
nav p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    
}
.container{   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.wrapper{
    padding: 20px;
    width: 380px;
    height: 470px;
    background-color: #fff;
    border: 1px solid black;
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .bottom{
    margin-top: 20px;
    display:block;
}
.wrapper form{
    margin: 40px 0;
}

form .field{
    width: 100%;
    margin-bottom: 20px;
}
form .field .input-area{
    height: 50px;
    width: 100%;
    position: relative;
}

form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
    font-stretch: normal;
}

form .field input:focus,
form .field.valid input{
border-color: black;
}

form .field.shake input,
form .field.error input{
border-color: #dc3545;
}
.field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
}

.input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
}

.input-area .error-icon{
    right: 15px;
    color: #dc3545;
    }
    form input:focus ~ .icon,
    form .field.valid .icon{
    color: black;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
color: #bfbfbf;
}
form input::placeholder{
color: #bfbfbf;
font-size: 17px;
}

form .field .error-txt{
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
}
form .field .error{
    display: none;
}
form .field.shake .error,
form .field.error .error{
    display: block;
}
form .remember_me{
        display: flex;
}
form .remember_me input{
    display: block;
    width: 30px;
    cursor: pointer;
}

form input[type="submit"] {
    height: 50px;
    margin-top: 30px;
    color: #fff;
    padding: 0;
    border: none;
    background: rgb(48, 209, 88);
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
form input[type="submit"]:hover {
    background: rgb(39, 175, 73);
}


form .forgot-pw{
    width: 100%;
    height: 80px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
form .forgot-pw a{
    color: black;
    text-decoration: none;
}
form a:hover{
    text-decoration: underline;
}

















/* media queries */

@media (max-width:450px){
    nav p{
        font-size: 26px;
    }
}

@media (max-width:400px){
    .wrapper {
        width: 360px;
    }
    nav p{
        font-size: 24px;
    }
}
@media (max-width:365px){
    .wrapper{
        width: 320px;
    }
    nav p{
        font-size: 20px;
        font-weight: 900;
    }
}

@media (max-width:320px){
    .wrapper{
        width:300px;
    }
    nav p{
        font-size: 18px;
    }
}
@media (max-width:300px){
    .wrapper{
        width:290px;
    }
    nav p{
        font-size: 17px;
    }
}
