@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: red; */
    overflow-x: hidden;
    /* margin-left: 320px; */

}
nav{
    background-color:#fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 55px;
    /* align-items: center; */
    padding-left: 14px;
    display: none;
}
nav #menu{
    float:right;
    margin: 12px 22px;
    cursor: pointer;
}
nav #cross{
    float: right;
    margin: 12px 22px;
    cursor: pointer;
    display: none;
}

 
header{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    background-color: #F9FAFB;
    transition: all 0.3s ease-in-out;
    /* background-color: red; */
} 

.profile{
    border-radius: 50%;
    border: 2px solid black;
    background-color: aliceblue;
    width: 8rem;
    height: 8rem;
    margin-top: 2.5rem;
}
header h3{
    font-size: 1.5rem;
}
header ul{
    list-style: none;
    justify-content: space-around;
}
header ul li{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1px 12px;
    width: 15.5rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    margin: 10px 2px;
    cursor: pointer;
    font-size: large;
}
header ul li:hover{
    background-color: rgb(235, 230, 230);
}
header ul li img{
    margin-right: 15px;
}
#logout{
    position: fixed;
    bottom: 0;
    justify-content: space-between;
}
#logout li{
    justify-content: space-between;
    margin-bottom: 30px;
}




section{
    /* position: relative; */
    height: 100%;
    /* width: calc(100% - 25rem); */
    margin-left: 320px;
}

section .subjects{
    height: 150px;
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    background-color: #F9FAFB;
    box-shadow: -1px 6px 22px -7px rgba(0,0,0,0.87);
    overflow: auto;
}

 section .subjects button{
    height: 100px;
    width: 130px;
    margin: 0px 20px 0px 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: medium;
    background-color: #fff;
    
}
#overall_1{
    border: 3px solid  orange;
    /* background-image: linear-gradient(to bottom right, rgb(248, 186, 71), orange); */
}
#cm{
    border: 3px solid rgb(228, 68, 68);
    /* color: white; */
    /* background-image: linear-gradient(to bottom right, rgb(248, 70, 70), rgb(255, 60, 0)); */
}
#ds{
    border: 3px solid lightskyblue;
    /* background-color: lightskyblue; */
}
#dlcd{
    border: 3px solid lightgreen;
    /* background-color: lightgreen; */
}
#dm{
    border: 3px solid lightcoral;
    /* background-color: lightcoral; */
}
#oops{
    border: 3px solid lightseagreen;
    /* background-color: lightseagreen; */
}
section .show_subjects{
    
    border-radius: 12px;
    box-shadow: 6px 7px 12px -1px rgba(0,0,0,0.75);
    height: auto;
    padding: 15px;
    background-color: #F9FAFB;
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;

} 
.computational_methods{
    display: none;
}
.data_structures{
    display: none;
}
.digital_logic{
    display: none;
}
.discrete_mathamatics{
    display: none;
}
.object_oriented{
    display: none;
}
.group{
    display: flex;
    margin: 42px 12px;
    
}
.pie-chart{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}
section .show_subjects .total_attendence{
    height: auto;
    background-color:  #fff;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
section .show_subjects .group{
    display: flex;
    justify-content: space-around;
}
section .show_subjects .calender{
    height: 10rem;
    width: 450px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #fff;
}
section .show_subjects .calender .markthedate{
    display: flex;
    margin: 10px;
}
section .show_subjects .calender .markthedate h3{
    margin-right: 12px;
}
section .show_subjects .calender #date{
    /* width: 23px; */
    height: 30px;
    overflow: hidden;
}
 section .calender button{
    color: white;
    background-color: #005CA5;
    padding: 5px 12px;
    cursor: pointer;
    font-family: serif;
    border: none;
    font-weight: 600;
}
 section .show_subjects .per_day{
    height: auto;
    width: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: large;
    text-align: center;
}
table{
    margin: 6px;
    border-radius: 3px;
}
table, td {
    border:1px solid black;
}



/* media queries */
@media (max-width:1250px){
    .pie-chart{
        background-color: red;
    }
}
@media (max-width:1200px){

}
@media (max-width:1000px){
    nav{
        display: block;
    }
    header{
        left: -350px;
    }
    section{
        margin-left: 0px;
    }
}
@media (max-width:700px){
    section .show_subjects .group{
        flex-direction: column;
    }
    section .show_subjects .group .calender{
        width: 100%;
    }
    section .show_subjects .per_day{
        margin-top: 12px;
    }
}
@media (max-width:750px){
    html{
        font-size: 85%;
    }
}
@media (max-width:650px){
    html{
        font-size: 75%;
    }
}
@media (max-width: 600px){
    .total_attendence{
        flex-direction: column;
        margin-left: 0;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }
}