@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    overflow-x: hidden;
    margin-left: 320px;

}
nav{
    background-color: antiquewhite;
    float: left;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    display: none;
}
nav #menu{
    cursor: pointer;
}
nav #cross{
    font-weight: 700;
    cursor: pointer;
    display: none;
}

 
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    min-height: 108vh;
    position: absolute;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 20rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    background-color: #F9FAFB;
} 

.profile{
    border-radius: 50%;
    border: 2px solid black;
    background-color: aliceblue;
    width: 8rem;
    height: 8rem;
    margin-top: 2.5rem;
}
header h3{
    font-size: 1.5rem;
}
header ul{
    list-style: none;
}
header ul li{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1px 12px;
    width: 15.5rem;
    height: 3.1rem;
    display: flex;
    align-items: center;
    margin: 10px 2px;
    cursor: pointer;
    font-size: large;
}
header ul li:hover{
    background-color: rgb(235, 230, 230);
}
header ul li img{
    margin-right: 15px;
}
#logout{
    margin-top: 110px;
    justify-content: space-between;
}





section{

    max-height: 100%;
    margin-top: -10px;
    background-color:red;
}

section .subjects{
    height: 150px;
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    margin: 10px 10px 0px 10px;
    background-color: #F9FAFB;
    box-shadow: -1px 6px 22px -7px rgba(0,0,0,0.87);
    overflow: auto;
}

 section .subjects button{
    height: 100px;
    width: 130px;
    margin: 0px 20px 0px 20px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: medium;
    background-color: #fff;
    
}
#overall_1{
    border: 3px solid  orange;
    /* background-image: linear-gradient(to bottom right, rgb(248, 186, 71), orange); */
}
#cm{
    border: 3px solid rgb(228, 68, 68);
    /* color: white; */
    /* background-image: linear-gradient(to bottom right, rgb(248, 70, 70), rgb(255, 60, 0)); */
}
#ds{
    border: 3px solid lightskyblue;
    /* background-color: lightskyblue; */
}
#dlcd{
    border: 3px solid lightgreen;
    /* background-color: lightgreen; */
}
#dm{
    border: 3px solid lightcoral;
    /* background-color: lightcoral; */
}
#oops{
    border: 3px solid lightseagreen;
    /* background-color: lightseagreen; */
}
section .show_subjects{
    
    border-radius: 12px;
    box-shadow: 6px 7px 12px -1px rgba(0,0,0,0.75);
    height: 70vh;
    padding: 15px;
    background-color: #F9FAFB;
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;

} 
.computational_methods{
    display: none;
}
.data_structures{
    display: none;
}
.digital_logic{
    display: none;
}
.discrete_mathamatics{
    display: none;
}
.object_oriented{
    display: none;
}
.group{
    display: flex;
    margin: 12px;
    
}
.pie-chart{
    position: relative;
    margin-left: 740px;
    float: right;
    display: block;
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 235deg, 
        orange 0);
}
 section .show_subjects .total_attendence{
    /* position: absolute; */
    height: 150px;
    background-color:  #fff;
    display: flex;
    font-size: large;
    align-items: center;
    padding-left: 20px;
    /* justify-content: center; */
}
section .show_subjects .calender{
    height: 150px;
    width: 450px;
    border: 1px solid blue;
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #fff;
}
 section .calender button{
    color: white;
    background-color: #005CA5;
    padding: 5px 12px;
    cursor: pointer;
    font-family: serif;
    border: none;
    font-weight: 600;
}
 section .show_subjects .per_day{
    height: 300px;
    width: 480px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline;
    font-size: large;
    float: right;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.per_day table tr td{
    padding: 10px;
}
table{
    margin-left: 60px;
    border-radius: 3px;
}
table, td {
    border:1px solid black;
}
table th{
    padding: 0px 50px 0px 50px;
}
    



/* media queries */
@media (max-width:1250px){
    .pie-chart{
        background-color: red;
    }
}
@media (max-width:1200px){

}
@media (max-width:1000px){
    nav{
        display: block;
    }
    header{
        left: -350px;
    }
    section{
        margin-left: 0px;
    }
}