*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    display: flex;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.attendence,.library{
    width: 300px;
    margin: 10px;
    border: 1px solid black;
    height: 100px;
    border-radius: 6px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.75);
}
.attendence p,.library p{
    font-size: large;
    margin-left: 10px;
}
