*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container{
    
    margin: 20px;
}
.container ul{
    display: flex;
    flex-wrap: wrap;
}
.container ul li{
    list-style: none;
}
.container ul li a{
    width: 300px;
    color: black;
    text-decoration: none;
    margin: 10px;
    border: 1px solid black;
    height: 100px;
    border-radius: 6px;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.75);
}
.container ul li p{
    font-size: large;
    margin-left: 10px;
}
