:root{
    --lightgrey: rgba(255,255,255,0.1);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.filters{
    background-color: lightgrey;
    padding: 20px;
    width: 100%;
    /* height: 80px; */
    display: flex;
    flex-wrap: wrap;
}
.filters .filter1,
.filters .filter2,
.filters .filter3,
.filters .filter4{
    margin: 10px;
}
.filters  button{
    background-color:lightblue;
    float: right;
    padding: 10px 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}
.filters button:hover{
    background-color: rgb(161, 148, 148);
}

.main {
    display: inline-block;
    width: 100%;
    justify-content: center;
}
.main ul{
    display: inline;
    /* list-style: none; */
    width: 100vw;
}
.main ul li{
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    padding: 5px;
    justify-content: space-between;
    margin:10px;
    height: 45px;
    align-items: center;
    box-shadow: rgb(223, 23, 23);
}



.cont input{
    display: none;
}
.cont{
    position: relative;

    /* transform: translate(-50%, -50%); */
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    /* padding: 2px ; */
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
    margin-right: 10px;
}
.switch::before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(241, 65, 65);
    z-index: -1;
    transition: inherit;
    align-items: center;
}
.switch{
    display:block;
    width: 25px;
    height:25px;
    background-color: #fff;
    border-radius: 50%;
    transition: inherit;
    margin-top: 3px;
    margin-left: 3px;
    
}

.cont input:checked ~ .switch::before{
    background-color: #34c759;
}
.cont input:checked ~ .switch{
    margin-left: calc(75% - 13px);
}


.submit{
    width: 90%;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    font-size: large;
    cursor: pointer;
    background-color: #42e06a;

}
.submit:hover{
    background-color: #34c759;
    box-shadow: cadetblue;
}